@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
*/
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 101%;
  }
}

@keyframes typing-maven {
  from {
    width: 0;
  }

  to {
    width: 19%;
  }
}

@keyframes blink-cursor {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white;
  }
}

.typing-effect {
  overflow: hidden;
  border-right: 2px solid white;
  /* Cursor style */
  white-space: nowrap;
  display: inline-block;
  width: 0;
  animation: typing 4s steps(40, end) forwards,
    blink-cursor 0.75s step-end infinite;
}

.typing-effect-maven {
  overflow: hidden;
  border-right: 2px solid white;
  /* Cursor style */
  white-space: nowrap;
  display: inline-block;
  width: 0;
  /* Start with no width to hide text */
  animation: typing-maven 4s steps(30, end) forwards,
    blink-cursor 0.75s step-end infinite;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #000000;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 1px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.embla {
  max-width: 48rem;
  margin-top: 3rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 80%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem rgb(25, 25, 25);
  width: 2.6rem;
  height: 2.6rem;
  z-index: 1;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: rgb(165, 14, 14);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem rgb(222, 222, 222);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem rgb(54, 125, 196);
}

.embla__parallax {
  border-radius: 1.8rem;
  height: 100%;
  overflow: hidden;
}

.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.embla__parallax__img {
  max-width: none;
  flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
  object-fit: cover;
}

.main-content {
  width: 100%;
  /* Default to full width on smaller screens */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 100px;
}

@media (min-width: 768px) {

  /* Adjustments for medium screens and up */
  .main-content {
    width: 90%;
    /* Slightly less than full width for some margin */
  }
}

@media (min-width: 1024px) {

  /* Adjustments for large screens */
  .main-content {
    width: 1170px;
    /* Fixed width as originally set for larger screens */
  }
}

.info-section {
  width: 100%;
  /* Full width on smaller screens */
  padding-right: 20px;
}

@media (min-width: 768px) {

  /* Adjustments for medium screens and up */
  .info-section {
    width: calc(100% - 360px);
    /* Adjust width when there's enough space */
  }
}

.side-content {
  width: 100%;
  /* Full width on smaller screens */
}

@media (min-width: 768px) {

  /* Adjustments for medium screens and up */
  .side-content {
    width: 360px;

  }
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  outline: none;
  transition: 1s ease-in-out;
  color: #000000;
  position: relative;
  
}

.button-svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #000000;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #000000;
  color: #ffffff;
}

.btn:hover svg {
  stroke-dashoffset: -480;
  stroke: #ffffff;
}

.btn span {
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  transition: color 0.5s ease-in-out;
}

.btn:hover span {
  color: #ffffff;
}